/**
 * @providesModule DraftEditorPlaceholder
 */

.public/DraftEditorPlaceholder/root {
  color: var(fbui-desktop-text-placeholder);
  position: absolute;
  z-index: 0;
}

.public/DraftEditorPlaceholder/hasFocus {
  color: var(fbui-desktop-text-placeholder-focused);
}

.DraftEditorPlaceholder/hidden {
  display: none;
}
