/**
 * @providesModule DraftEditorPlaceholder
 * @permanent
 */

.public/DraftEditorPlaceholder/root {
  color: var(fig-secondary-text);
  position: absolute;
  z-index: 0;
}

.public/DraftEditorPlaceholder/hasFocus {
  color: var(fig-light-20);
}

.DraftEditorPlaceholder/hidden {
  display: none;
}
